nav {
    text-align: right;
    margin-right: 10px;
    margin-top: 20px;
}

#nav-logo {
    width: 65px;
    margin-right: 1000px;
    
}

div {
    display: inline-block;
}

.div-img {
    
    width: 280px;
    margin: 30px auto ;
}

img {
    width: 270px;
}

.main-body {
    text-align: center;
}


#form {
    width: 550px; 
    padding: 15px;
    border-radius: 30px;
    border: solid 1px lightgrey;
    background-image: url("images/search-google.png");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 15px 15px;    
}

input[id="form"]:hover{
    cursor: text;
    box-shadow: 5px 5px 5px lightgrey;
    outline: none;
}

input[id="submit"]{
    background-color:rgb(240, 240, 240);
    border-radius: 5px;
    border: black;
    padding: 10px 15px;
    font: Arial, Helvetica, sans-serif 22px; 
    margin: 30px auto;
}

input[id="submit"]:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px lightgrey;  
}

a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color:rgb(240, 240, 240);
    border-radius: 5px;
    border: black;
    padding: 10px 15px;
    font: Arial, Helvetica, sans-serif 22px; 
    margin: 30px auto;
}

button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px lightgrey;
}

#a-btn{
    text-decoration: none;
}

#p-adv {
    text-align: left;
    margin: 35px 40px 25px;
    font-size: 18px;
    color: rgb(212, 45, 45);
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    
    height: 1px;
    border: none;
    background: rgb(240, 240, 240);
}

.form-adv {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    width: 500px;
    padding: 7px;
    margin-top: 15px;
}

.txt1-colum {
    width: 205px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.txt2-colum {
   font-size: 11px;
   font-family: Arial, Helvetica, sans-serif;
   color: grey;
}

.form-colum {
    width: 520px;
    display: inline-block;
    position: relative;
    height: 200px;    
}

.txt1-line {
    padding: 12px;
    margin-top: 10px;
    margin-left: 30px;
}

.txt2-line{
    padding: 12px;
    margin-top: 10px;
}

#sub-adv{
    margin: 10px;
}

.txt1-line-title {
    padding: 12px;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 12px;
}

.txt2-line-title {
    padding: 12px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px;
}

input[id="sub-adv"]{
    border-radius: 2px;
    cursor: default;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #3079ed;
    color: #fff;
    box-shadow: none;
    background-color: #4d90fe;
    padding: 8px;
    margin-left: 100px;
}

input[id="sub-adv"]:hover{
    
    border-radius: 2px;
    cursor: default;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #3079ed;
    color: #fff;
    box-shadow: none;
    background-color: #3b80f0;
    padding: 8px;
    margin-left: 100px;
}

.sub-adv-div{
    margin-left: 610px;
}

